// fonts
$font-primary: 'Open Sans', sans-serif;

// colors
$color-primary: #ffffff;
$color-secondary: #53cf92;
$color-tertiary: #434e66;

// box shadows
$shadow-primary: 0 1px 3px 2px rgba(0, 0, 0, 0.05);

@mixin breakpoint($class) {
	@if $class == apples {
    @media (max-width: 320px) { @content; }
  }

  @if $class == xs {
    @media (max-width: 480px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 768px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (max-width: 1200px) { @content; }
  }

  @else {
    @media (max-width: $class) { @content; }
  }
}

body {
    background-color: #57b2f8;
}
